*{
    margin: 0;
    padding: 0;
}


h1 {
    color: blue;    
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;   

}

.bg {
    height: 200px;
    width: 100%;
    background-color: rgb(25, 25, 29);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQNzXo6RHNRiDKycogiFdtz4KK7eXql_f6mg&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}