* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas:
    ""
    ""
    ""
    ;
}

main {
    grid-area:hero;
}

aside{
    grid-area: form;
}
:root {
    font-size: 62.5%;
}

aside h1 {
    font-family: 'roboto', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span,
main h2 span {
    color: #ff5678;
}

main {
    width: 60rem;
    height: 52rem;
    border: 0.1rem solid rgba(0, 0, 0, 15);
    padding: 4.4rem 5.7rem;
    border-radius: 1.2rem;

}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .action {
    display: flex;
    flex-flow: column wrap;
}

main .action a {
    text-decoration: none;
    border-radius: 1.2rem;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: #35e6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 5.4rem;

}

main .action a+a {
    background-color: #ff5678;
    margin-top: 4.8rem;
}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem; 
}

main footer a{
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
}

